VITE_SANITY_PROJECT_ID=wpjddqhy
VITE_SANITY_DATASET=innhold
VITE_SANITY_API_VERSION=2024-01-01
VITE_SANITY_HOME_PAGE_ID=5db524c7-6851-4f28-a326-b1735de0fcdb
VITE_SANITY_AKTUELT_PAGE_ID=aktuelt-page
VITE_SANITY_OM_OSS_PAGE_ID=om-oss-page
VITE_SANITY_KONTAKT_PAGE_ID=kontakt-page
VITE_SANITY_CALENDAR_SECTION_ID=calendar-section
